*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, rgba(100,0,0,0), rgba(200,0,0,1));
}
ul{
    margin-top: -2%;
    margin-left: 8%;
}
a{
    text-decoration: none;
    color: black;
    padding: 30px;
    cursor: pointer;
}
a:hover{
    color: blueviolet;
}
.search{
    padding: 2px 15px;
    border: 1px solid red;
    border-radius: 10px;
}
.search:hover{
    transform: scale(1.1);
}
.btn{
    margin-left: 10px;
    cursor: pointer;
    padding: 3px 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}
.btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);

}
.img1{
    margin-left: 10%;
}
.content{
    text-align: center;
}
h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 500px;
    margin: auto;
}
.para{
    align-items: center;
    text-align: center;
    border: 1px solid white;
    width: 1000px;
    height: 100px;
    margin: auto;
    padding: 10px;
    background-color: rgb(234, 89, 89);
    color: white;
}
.contentbase{
    padding: 40px;
    color: white;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 50vh;
}
.column1{
    margin-left: 50px;
}
.column2{
    margin-left: 100px;
}
.column3{
    margin-left: 100px;
}
.column4{
    margin-left: 100px;
}
